## Day2 Learning

In [49]:
print('Day 2 Learnings')

Day 2 Learnings

->When it is written a = 2
->The compiler understands the data type while interpreting. In this case here the data type of a is 2
->There is no character data type in python

In [50]:
age = 24

print('Ashutosh age is {age}')

Ashutosh age is {age}

###### How to format string

In [51]:
print(f'Ashutosh age is {age}')

Ashutosh age is 24

The above string is called as the format string

->Indexing starts in python from 0
->Reverse indexing is possible in python

### format()

In [52]:
name = 'Ashutosh'
age = 24
print('My name is {} and age is {}'.format(name, age))

My name is Ashutosh and age is 24

format() prints the variable in sequential manner

What to do when there are 100 variables?
    Ans -> we can use placeholders to print the values.

In [53]:
print('My name is {name} and age is {age}'.format(age=age, name=name))

My name is Ashutosh and age is 24

## Control Flow
### Decision Making Statements

There are several decision making statements


    1.if
    2.if else
    3.if elif else
    4.Nested if
    5.Single Statement

In [54]:
# if

age = 18
if age >= 18:
    print('Eligible to vote')

Eligible to vote

18 == 18

In [55]:
18 != 19

True

In [56]:
19 > 18

True

In [57]:
1.02380 > 2

False

In [58]:
input()

 12

'12'

In [61]:
age = int(input('Enter your age'))

Enter your age 12

#### Task1 

###### Take input of age
###### Check whether age >= 18

In [62]:
age = int(input())

if age >= 18 and age <= 32:
    print('You are young blood')

 12

#### Account

##### money > 1000
##### provide 10% off

In [64]:
money = int(input('Enter the amount'))

if money >= 1000:
    money = money - (money * 0.1)
print(money)

Enter the amount 12

12

#### Mall

##### Product price > 1000 provide 20% off
##### Product price <= 1000 provide 30% off

In [65]:
price_of_product = int(input())

if price_of_product <= 1000:
    price_of_product = price_of_product * 0.7
else:
    price_of_product = price_of_product * 0.8
    
print('The price of product is {}'.format(int(price_of_product)))

 124123

The price of product is 99298

### Multiple condition

#### Mall

##### Product price > 3000 -> 20% off
##### Product price > 2000 and <= 3000 -> 30% off
##### Product price >= 1000 and <= 2000 -> 40% off
##### No discount for products priced less than 1000

In [66]:
price = int(input())
original_price = price

if price > 3000:
    price = price * 0.8
elif price > 2000 and price <= 3000:
    price = price * 0.7
elif price >= 1000 and price < 2000:
    price = price * 0.6
else:
    print('No discount')
    
if price == original_price:
    print(price)
else:
    print('After discount {}'.format(price))

 123412

After discount 98729.6

### LOOPS

* While Loop
* For Loop
* Nested Loops
* Loop Controls(Break, Continue, Pass)

### WHILE loop

In [67]:
#While loop
joining_age = 24

while joining_age <= 60:
    if joining_age == 60:
        print(f"Sorry it's time for you to retire")
    joining_age += 1

Sorry it's time for you to retire

In [70]:
total_amount = 1000

while total_amount != 0:
    print(total_amount)
    total_amount -= 100
else:
    print(f'Your balance is 0. Please deposit some money.')

1000
900
800
700
600
500
400
300
200
100
Your balance is 0. Please deposit some money.

### FOR loop

In [71]:
lst = ['Ashu', 1, 2, 4, 5, 'Pandey']
type(lst)

list

In [73]:
for item in lst:
    print(item, end="\t")

Ashu	1	2	4	5	Pandey

In [74]:
fruits_lst = ['apple', 'banana', 'cherry', 'mango']

for x in fruits_lst:
    if x == 'cherry':
        print('Found cherry')
        break

Found cherry

In [75]:
fruit = 'mangoes'

for x in fruit:
    print(x, end="\t")

m	a	n	g	o	e	s

In [76]:
print(range(1, 6))

range(1, 6)

In [78]:
for i in range(1, 6, 2):
    print(i)

1
3
5

#### Range

* range(start, stop, step)